<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant_path(restaurant) do %>
    <%= image_tag restaurant.image %>
  <% end %>

  <%= link_to restaurant.name, restaurant_path(restaurant) %>

 <div>

   <p><%= restaurant.city %></p>
   <p><%= restaurant.cuisine %></p>

 </div>

<% end %>
