<% @restaurants.each do |restaurant| %>
<%= link_to restaurant_path(restaurant) do %>
  <%= image_tag restaurant.image %>
  <%= link_to restaurant.name, restaurant_path(restaurant) %>
<% end %>


 <div>

   <p><%= restaurant.city %></p>
   <p><%= restaurant.cuisine %></p>

 </div>

<% end %>
