<div class="page_image">

<%= image_tag @restaurant.image %>
</div>

  <div class="reso_dets">
   <h3><%= @restaurant.name %></h3>
   <p><%= @restaurant.city %></p>
   <p><%= @restaurant.cuisine %></p>
   <p><%= @restaurant.meals_remaining(Date.today) %></p>
</div>
 </div>



<div class="book">
  <% if session[:user_id] %>

  <h2> Reserve the special of the day</h2>

  <%= form_for(@reservation) do |f| %>

    <%= f.hidden_field :restaurant_id %>

    <div class="field">
     <%= f.label :quantity %>
     <%= f.text_field :party_size %>
    </div>

    <div class="field">
      <%= f.label :date %><br />
      <%= f.text_field :date, placeholder: "YYYY-MM-DD" %>
    </div>

    <div class="actions">
     <%= f.submit %>
    </div>

    <%end%>

    <% else %>
    <p> Please <a href="/users/new"> Sign Up</a> or <a href="/sessions/new">Log In</a> to book this restaurant </p>
  <% end %>

</div>
