<!DOCTYPE html>
<html>

<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<header>
    <%= link_to image_tag("logo.png"), :controller => 'restaurants'%>
</header>

<% if current_user %>
  <p>Hello <%= current_user.email %>
  <%= link_to 'Log Out', sessions_path, method: :delete %>
  </p>
  <% else %>
  <p><%= link_to 'Log In', new_sessions_path %></p>
  <p><%= link_to 'Sign Up', new_user_path %></p>
<% end %>

<body>
  <% if flash.any? %>
     <% flash.each do |key, value| %>
       <p class='<%= key %>'>
       <%= value %>
       </p>
     <% end %>
   <% end %>

<%= yield %>

</body>

</html>
